@page
@model Grupo9_PA_Examen.Pages.Docente.IndexModel
@{
    ViewData["Title"] = "Panel Docente";
}

<h2>Panel del Docente</h2>

<div class="row">
    

    <div class="col-md-4">
        <h4>Calificaciones</h4>
        <a asp-page="/Maestro/Calificaciones" class="btn btn-primary mb-2">Registrar Calificaciones</a><br />
        
    </div>

    


</div>
